.item {
  display: flex;
  margin: 1rem 0;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.comments sub {
  bottom: .50rem;
  margin: .25rem;
}

.line {
  position: absolute;
  height: 100%;
  left: 2.3rem;
  top: 0;
  z-index: -1;
  border: 2px solid lightgrey;
}

.avatar {
  margin-right: 1rem;
}

.avatar img {
  border-radius: 100%;
  width: 3rem;
  border: 3px solid lightgrey;
}